<footer class="page-footer font-small bg-dark pt-4  ">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-white">
        <h6 class="text-uppercase mb-4 font-weight-bold ">Franc Rodrigues</h6>
        <p> CREATIVE.PASSIONATE.HARDWORKING</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none ">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 ">
        <h6 class="text-uppercase mb-4 font-weight-bold text-white">PROJECTS</h6>
        <p>
          <a class="text-white" href="/project/{{_id}}">PROJECT 1</a>
        </p>
        <p>
          <a class="text-white" href="/project/{{_id}}">PROJECT 2</a>
        </p>
        <p>
          <a class="text-white" href="/project/{{_id}}">PROJECT 3</a>
        </p>
        <p>
          <a class="text-white" href="/project/{{_id}}">PROJECT 4</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold text-white">BLOGS</h6>
        <p>
          <a class="text-white" href="/blog/{{_id}}">BLOG 1</a>
        </p>
        <p>
          <a class="text-white" href="/blog/{{_id}}">BLOG 2</a>
        </p>
        <p>
          <a class="text-white" href="/blog/{{_id}}">BLOG 3</a>
        </p>
        <p>
          <a class="text-white" href="/blog/{{_id}}">BLOG 4</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold text-white">Contact</h6>
        <p class="text-white">
          <i class="fas fa-home mr-3"></i> FrancRodrix</p>
        <p class="text-white">
          <i class="fas fa-envelope mr-3"></i> francrodrix05@gmail.com</p>
        <p class="text-white">
          <i class="fas fa-phone mr-3"></i>+918884965660</p>
        <p class="text-white">
          <i class="fas fa-print mr-3"></i> +91 8329532179</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left text-white">© 2020 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/education/bootstrap/">
            <strong> francrodrix.com</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right text-white">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/" class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/login?lang=en" class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://support.google.com/plus/?hl=en#topic=9259565"
                class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/franc-shellon-rodrigues-4289a7146/ "
                class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>

      </div>
      

    </div>
    

  </div>
  

</footer>